# SI 618 - Machine Learning Pipelines for Regression

Version 2021.03.12.1.CT

Goal: to predict the flipper length of penguins given a number of features about them.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# to make this notebook's output identical at every run
np.random.seed(42)

In [3]:
penguins = sns.load_dataset('penguins')

In [4]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [5]:
penguins.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [6]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

### Task 1
Are there any missing values?  Deal with the missing values.

In [8]:
# insert your code here

### Task 2
Use .value_counts() to get a sense of the distribution of categorical variables.

In [9]:
# insert your code here

### Task 3
Create scatterplots for all combinations of numeric variables (hint: sns.pairplot() might be useful)

In [10]:
# insert your code here

### Task 4
Split the data into training and testing sets, ensuring that the same distribution of species exists in the split data sets as the distribution of species in the original dataframe.

In [11]:
# insert your code here

### Task 5
Create a design matrix (`penguins_X`) and a label matrix (`penguins_y`) from the stratified training set.

In [12]:
# insert your code here

### Task 6
Create a pipeline to apply a `StandardScaler()` to all numeric values and a `OneHotEncoder()` to the categorical variables in `penguins_X`. Assign the resulting matrix to a variable called `penguins_prepared`.

In [13]:
# insert your code here

### Task 7
Fit a linear regression to penguins_prepared and penguins_y.

In [14]:
# insert your code here

### Task 8
Use the fitted model to show the predicted values for the first 5 rows of data.

In [15]:
# insert your code here

### Task 9
Show the mean and standard deviation of the root mean squared error for your model.

In [9]:
# Insert your code here

### Task 10
Apply your model to the test data (from your train-test split) and report the final root mean squared error (RMSE).

In [10]:
# Insert your code here