<a href="https://colab.research.google.com/github/umsi-data-science/si370/blob/master/SI_370_Day_02_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas - in-class notebook

In [ ]:
# from https://www.kaggle.com/austinreese/craigslist-carstrucks-data
# 5000 row sample

In [ ]:
import pandas as pd

In [ ]:
vehicles = pd.read_csv(
    'https://raw.githubusercontent.com/umsi-data-science/si370/master/data/craigslist_vehicles_sample.csv')

In [ ]:
vehicles.head()

## Exercise 1:
The "year" column doesn't look right: the values are floats but they should be integers.  Use the "astype()" function to cast the values to 32-bit integers.  You might be tempted to do something like the following, which will result in an error.  Fix the error.

In [ ]:
# The following will result in an intentional error
vehicles['year'] = vehicles['year'].astype('int32')

In [1]:
# Insert your solution here

## Exercise 2:

What proportion of listings were from the Ann Arbor region?

In [2]:
# Insert your solution here

## Exercise 3:
List the top 3 manufacturers (note: when we say "top N", we typically mean the top N ranked from most common to least common).

In [3]:
# Insert your solution here

## Exercise 4:
What's the most popular (common) model? Make sure you include the manufacturer.

In [4]:
# Insert your solution here

## Exercise 5:
Each vehicle has a Vehicle Identification Number (VIN) that encodes a lot of information about the vehicle (see https://en.wikipedia.org/wiki/Vehicle_identification_number).  These are stored in the ```vin``` column of the ```vehicles``` dataframe. 

For example, the first digit tells you what region the vehicle was manufactured in. 

Write code that provides counts of vehicles manufactured in each of the following regions:
Africa,	Asia, Europe, North America, Oceania, and South America.

If you encounter missing values, justify your approach to dealing with them.

In [5]:
# Insert your solution here

## Exercise 6:
Based on the ```title_status``` column, what proportion of vehicles are considered "clean"?

In [6]:
# Insert your solution here

## Exercise 7:
Come up with your own question about the dataset and write code to answer it.

Insert your question here.

In [7]:
# Insert your solution here